/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');



*{
    padding: 0;
    margin: 0;
    /* font-family: "Noto Sans", sans-serif; */
}

body{
    background-color: black;
}
.main{
    background-image: url("Image/bg.jpg");
    background-size: max(100vw,1200px);
    height: 80vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw; */
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}
 
nav{
    max-width: 70vw;
    padding: 0 10vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}
nav img{
    color: rgb(255, 0, 0);
    /* height: 100px; */
    width: 100px;
    position: relative;
    z-index: 1;
}
nav button{
    position: relative;
    z-index: 1;
}
.content{
    height: calc(100% - 52px);
    font-family: "Anton", sans-serif;
    /* max-width: 60vw; */
    position: relative;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    padding: 0 30px;
}
.content :nth-child(1){
    font-size: 40px;
}
.content :nth-child(2){
    /* font-weight: 400; */
    font-size: 15px;
}
.content :nth-child(3){
    /* font-weight: 400; */
    font-size: 15px;
}
.content :nth-child(4){
    height: 30px;
    /* max-width: 30vw; */
    display: flex;
    gap: 10px;
    flex-direction: row;
    /* font-weight: 400; */
    /* font-size: 15px; */
}

.line{
    background-color: rgb(61, 61, 61);
    height: 7px;
}
.btn{
    padding: 7px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.393);
}

.lan {
    background-color: rgba(120, 99, 99, 0.082);
    color: aliceblue;
}
.btn-sn{
    background-color: red;
    color: aliceblue;
}

#input{
    background-color: rgba(0, 0, 0, 0.657);
    color: aliceblue;
    padding: 5px 24px;
    font-size:20px;
}
#input:hover{
    cursor: pointer;
    /* width: 155px; */
    /* height: 15px; */
    border: 2px solid rgb(244, 0, 0);
    /* padding: 10px; */
    color: rgb(255, 255, 255);
}
.btn-gs{
    font-size:20px;
    background-color: red;
    color: aliceblue;
    padding: 5px 24px;
}

.search {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: 15px;
    color: transparent;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    background-color: red ;
}

.search:hover{
    cursor: pointer;
    width: 155px;
    height: 15px;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
}